<div class="container">
    <div class="border">
        <a class="btn btn-primary " href="employees/add">
            <i class=" fa fa-user-plus"></i>New Employee
        </a>
    </div>
    <br>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees | paginate: { itemsPerPage: 8, currentPage: page }; let i=index">
                    <td>{{emp.empId}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.email}}</td>
                    <td>{{emp.password}}</td>
                    <td>{{emp.dob}}</td>
                    <td>{{emp.gender}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i>Edit
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="openDelete(confirmDelete, emp.empId)">
                            <i class="fa fa-trash"></i>Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="border">
            <pagination-controls (pageChange)="page=($event)"></pagination-controls>
        </div>
    </div>

</div>
<ng-template #confirmDelete let-modal>
    <div class="modal-header">
        <div class="modal-body">
            <form [formGroup]="deleteForm">

                <label style="text-align: center;">Confirm Delete</label>
                <input formControlName="id" hidden>
                <div class="form-inline">
                    <button class="btn btn-primary btn-sm" (click)="onDelete()">Confirm</button>
                    <button class="btn btn-secondary btn-sm"(click)="modal.dismiss('Cross click')">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>